
/*------------------
   Register page
------------------*/
#addRecipeSection form {
	background: #E78DBD;
}

#addRecipeSection form h2 {
	color: #EFF171;
    text-align: center;
}

#addRecipeSection form input[type="submit"] {
	background: #EFF171;
	color: #15491B;
} 

#addRecipeSection form input[type="submit"]:hover {
	background: #15491B;
	color: #EFF171;
}

#addRecipeSection form textarea[name="ingredients"], #addRecipeSection form textarea[name="method"] {
	height: 200px;
}